
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.contacts-head{
    width: 100vw;
    height: 20vw;
    position: relative;
    top: 4.1vw;
    background-color: aquamarine;

}
.contacts-layer{
    width: 100vw;
    height: 20vw;
    position: absolute;
    background-color:  rgb(0 0 0);
    opacity: 70%;
}
.contacts-heading {
    font-size: 3vw;
    position: absolute;
    text-align: end;
    top: 3.5vw;
    left: 6vw;
}
#hrcontacts{
    margin: 1px;
}
#moto{
    position: absolute;
    top: 4.5vw;
    left: 40vw;
    margin: 1px;
    letter-spacing: 9px;
    font-size: 3vw;
     font-family:  'Poppins', sans-serif;    
     color: #fff;
     font-weight: 400;
}
.contacts-heading pre{
    margin: 1px;
    letter-spacing: 9px;
    font-size: 5.5vw;
     font-family:  'Poppins', sans-serif;    
     color: #fff;
     font-weight: 700;
}

.clgpic img{
    width: 100vw;
    height: 20vw;

}

#options {
    display: none;
    width: 5.5vw;
    height: 5.5vw;
    border: none;
    outline: none;
    /* background-color: #31398a; */
    position: absolute;
    left: 0vw;
    top: 0vw;
    padding: 0;
    transition-duration: 1.2s;
    transition-property: all;

}

#options i {
    font-size: 5vw;
}
#hr1{
    visibility: hidden;
}
.header {
    position: absolute;
    top: 1vw;
    box-sizing: border-box;
    height: 5vw;
    width: 100vw;
    background-color: #fff;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 2px 20px;
}
#nss-head-logo{
    width: 5vw;
    position: relative;
    left: 0vw;
}

.selbtn1 {
    width: 10vw;
    height: auto;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fff;
    font-size: 1.5vw;

    margin: 2px 20px;
}

#selbtn12 {
    width: 15vw;
    font-size: 1.3vw;
}

.selbtn1:hover {
    /* border: 4px solid #e53624; */
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
}





.contacts {
    height: 34vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 30.5vw;
    left: 13.5vw;
}
.container{
    padding: 5px;
        margin-right: 6vw;
        display: flex;
        flex-direction: column;
        border: none;
        width: 20vw;
        height: 9vw;
        justify-content: center;
        align-items: flex-start;
}
.container:hover{
border: 1px solid;
border-radius: 10px;
box-shadow: 5px 5px 5px black;
transform: scale(1);
transition-duration: 0.2s;
}
.name pre {
    margin: 0;
    font-family: fantasy;
    font-size: 2vw;
    font-weight: 500;
    color: #31398a;
}
.role pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #31398a;
}
.phone pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #31398a;
}
.mail pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #31398a;
}

footer{ display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    position: absolute;
    top: 90% ;
    box-sizing: border-box;
    height: 25vw;
    width: 100vw;
    background-color: black;
    /* color: white; */
    /* font-family: 'Poppins', sans-serif;
    font-size: 0.5vw; */
   
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    /* top: 90% ; */
    /* box-sizing: border-box; */
    height: 20vw;
    width: 100vw;
    /* background-color: black; */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5vw;
   
}
.addresscont{
    position: relative;
    left: -5vw;
    top: -1vw; 
    border: none;
    width: 25vw;
    height: 11vw;
    justify-content: center;
    align-items: flex-start;
}
.addresscont pre{
    font-size: 1.3vw;
    font-family:'Poppins', sans-serif ;

}
.addresscont p{
    font-size: 2vw;
    position: absolute;
    top: -4vw;
    left: 6vw;
    text-decoration: underline;
}
.quicklink-head{
    font-size: 2vw;
    position: absolute;
    top: 1.5vw;
    left: 37.5vw;
    font-family:'Poppins', sans-serif ;
    text-decoration: underline;

}
.quicklink{
    border: none;
    /* border: 1px solid;
    border-radius: 4px; */

    width: 25vw;
    height: 11vw;
    justify-content: center;
    align-items: flex-start;
}
.quicklink ul{
    position: relative;
    top: -0.9vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    font-size: 1vw;

}

li{
    list-style: none;
    padding: 5px 1px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
    font-family:'Poppins', sans-serif ;
}
li a:hover{
    text-decoration: underline;
    color: white;
}
.location-head{
    font-size: 2vw;
    text-decoration: undedrline;
    position: absolute;
    top: -1vw;
    left: 72vw;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.majorobj{
    background-color: aliceblue;
    
    border: none;
    /* border: 1px solid;
    border-radius: 4px; */
    width: 25vw;
    height: 11vw;
    justify-content: center;
    align-items: flex-start;
}
.majorobj iframe{
    width: 25vw;
    height: 18vw;
}
.copyright{
    font-size: 1.2vw;
    color: white;
    position: relative;
    top: 0vw;
    left: 4vw;

}
.instalink pre{
    
    position: relative;
    color: white;
    font-size: 1vw;
    top: -2vw;
    left: 37vw;
}
.instalink pre a i{
    color: white;
    font-size: 1.5vw;
}
