@media screen and (max-width: 480px) {
   
        body{
            overflow-x: hidden;
            
        }
        body::-webkit-scrollbar{
            display: none;
        }
        .header{
            display: none;
            flex-direction: column;
            width: 40vw;
            height: 100vh;
            position: absolute;
            left: 0vw;
            top: 0vw;
            align-content: center;
            justify-content: center;
            z-index: 4;
    
        }
        .header ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            padding: 2px 20px;
        }
        .selbtn1 {
            width: 20vw;
            height: 5vw;
            font-size: 2.5vw;
        }
     
        #nss-head-logo {
            width: 10vw;
            position: relative;
            left: 11vw;
            top: -4vw;
        }
        
        .contacts-head {
            width: 100vw;
            height: 15vw;
            position: absolute;
            top: 0vw;
            background-color: aquamarine;
        }
        .contacts-heading pre {
            margin: 1px;
            letter-spacing: 6px;
            font-size: 5vw;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            font-weight: 700;
        }
        #moto {
            position: absolute;
            top: 5vw;
            left: 50vw;
            margin: 1px;
            letter-spacing: 3px;
            font-size: 3.5vw;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            font-weight: 400;
        }
        
        #options {
            background-color: transparent;
            top: 0vw;
            display: initial;
            z-index: 5;
            transition-duration: 1.2s;
            transition-property: all;
        }
        #selbtn12 {
            width: 20vw;
            font-size: 2.3vw;
        }
    .head {
        top: 17vw;
        height: 8vw;
        font-size: 4.4vw;

    }

    .contacts {
        flex-direction: column;
        height: 69vw;
        left: 5vw;
        top: 25vw;
    }
    .container{
        padding: 5px;
            margin-right: 6vw;
            display: flex;
            flex-direction: column;
            border: none;
            width: 40vw;
            height: 15vw;
            justify-content: center;
            align-items: flex-start;
    }
    .container:hover{
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        transform: scale(1);
        transition-duration: 0.2s;
        }

    .name pre {
        font-size: 4vw;
    }

    .role pre {
        font-size: 2.8vw;
    }

    .phone pre {
        font-size: 2.5vw;
    }

    .mail pre {
        font-size: 2.5vw;
    }


footer{
    z-index: 2;
}
    .foot {
        position: relative;

        top: 100vw;
        height: 34.3rem;

    }

    .content {
        flex-direction: column;
        align-content: space-around;
        justify-items: baseline;
        height: auto;
        padding: 25px 0px;
        margin-left: -14vw;
    }

    .addresscont {
        width: 60vw;
        height: 30vw;
    }

    .addresscont pre {
        font-size: 2.4vw;
    }

    .addresscont p {
        font-size: 4vw;
        top: -7vw;
        left: 11vw;
    }

    .location-head {
        top: 15vw;
        position: relative;
        left: -16vw;
        font-size: 4vw;
    }

    .majorobj {
        position: relative;
        top: 14vw;
        left: 6vw;
        width: 60vw;
        height: 30vw
    }


    .majorobj iframe {
        width: 60vw;
        height: 40vw;
    }

    .quicklink-head {
        font-size: 4vw;
        top: 36vw;
        left: 12vw;
    }

    .quicklink {
        height: 30vw;

    }

   .quicklink ul {
        top: 3.5vw;
        left: -22vw;
    }

    li a {
        font-size: 2.5vw;
    }

    .instalink {
        position: relative;
        top: -64vw;
        left: 28vw;
        width: 1vw;
    }
    .instalink pre{
        position: relative;
        color: white;
        font-size: 5vw;
        top: -8vw;
        left: 24vw;
    }

    .instalink pre a {
        font-size: 4.5vw;
    }

    .instalink pre a i {
        color: white;
        font-size: 4.5vw;
    }
    .copyright{
        width: 97vw;
        font-size: 2vw;
        color: white;
        position: relative;
        top: -3vw;
        left: 2vw;
    }

}
@media screen and (min-width: 700px){
    .contacts {
        flex-direction: column;
        height: 69vw;
        left: 5vw;
        top: 25vw;
    }
    .container{
        padding: 5px;
            margin-right: 6vw;
            display: flex;
            flex-direction: column;
            border: none;
            width: 40vw;
            height: 15vw;
            justify-content: center;
            align-items: flex-start;
    }
    .container:hover{
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        transform: scale(1);
        transition-duration: 0.2s;
        }
}

@media  screen and (min-width:1200px) {
    .contacts {
        height: 34vw;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 30.5vw;
        left: 13.5vw;
    }
    .container{
        padding: 5px;
            margin-right: 6vw;
            display: flex;
            flex-direction: column;
            border: none;
            width: 20vw;
            height: 9vw;
            justify-content: center;
            align-items: flex-start;
    }
    .container:hover{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transform: scale(1);
    transition-duration: 0.2s;
    }
}

@media screen and (min-width: 700px){
    
    .foot{
        height: 30vw;
    }
    .copyright {
        font-size: 1.2vw;
        color: white;
        position: relative;
        top: 2vw;
        left: 4vw;
    }
    .instalink {
        position: relative;
        top: 2vw;
        left: 17vw;
    }
}

@media screen and (min-width: 1024px){
    .contacts {
        height: 34vw;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 30.5vw;
        left: 13.5vw;
    }
    .container{
        padding: 5px;
            margin-right: 6vw;
            display: flex;
            flex-direction: column;
            border: none;
            width: 20vw;
            height: 9vw;
            justify-content: center;
            align-items: flex-start;
    }
    .container:hover{
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        transform: scale(1);
        transition-duration: 0.2s;
        }
        
        footer{
            position: relative;
            top: 40vw
        }
}
